<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Carsec</name>

  <description>
      Carsec App
  </description>

  <author email="sofroniev55@gmail.com">
      Alex Sofroniev
  </author>

</widget>
